<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <data-source>
        <name>java:app/jdbc/sample</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
        <url>jdbc:mysql://localhost/FARMACIA</url>
        <user>root</user>
        <password>root_bas3</password>
        <property>
            <name>allowPublicKeyRetrieval</name>
            <value>true</value>
        </property>
        <property>
            <name>serverTimezone</name>
            <value>America/Ecuador</value>
        </property>
        <property>
            <name>useSSL</name>
            <value>false</value>
        </property>
    </data-source>
</web-app>